
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.containerInner{
 display: block;
 margin: auto;
    
}
.slider{
width: 60%;
height: 50vh;
position: absolute;

}
.slider img{
    width: 100%;
    height: 100%;

}
.slider {
    opacity: 0;
    transition-duration: 1s ease;
  }
  .slider.present {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  .nextSlide, .prevSlide{
    padding: .4rem 1rem;


  }